body{
margin:0;
font-family:Arial;
background:#7a0c6d;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:white;
}

.app{
width:700px;
text-align:center;
}

.screen{
display:none;
}

.active{
display:block;
}

h1{
letter-spacing:3px;
}

.avatar{
width:100px;
border-radius:50%;
margin:20px;
}

.start{
background:#8e3be6;
border:none;
padding:10px 30px;
color:white;
font-size:16px;
}

.quiz-container{
display:flex;
justify-content:space-between;
align-items:center;
}

.text{
text-align:left;
}

.img{
width:150px;
border-radius:50%;
}

button{
margin-top:10px;
padding:10px 20px;
border:none;
cursor:pointer;
}

.true{
background:#32ff32;
color:black;
}

.false{
background:red;
color:white;
}

.menu{
background:red;
color:white;
}
